<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title||'index'  %></title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        ul{
            width:900px;
            padding: 0px;
            margin: 0 auto;
        }
        li{
            list-style: none;
            border: 1px solid #999;
            width: 300px;
            box-sizing: border-box;
            display: inline-block;
            float: left;
            overflow: hidden;
        }
        li > img{
            float: left;
        }
    </style>
</head>
<body>
    <div>
        <h1>总计:<%= novels.length %></h1>    
    <div>
    <ul>
        <% novels.forEach(function(novel){%>
            <li>
                <img src="<%= novel.image %>" alt="<%= novel.title %>">
                <h2><%= novel.title %></h1>
                <h3>作者:<%= novel.author %></h2>
                <h4>简介:<%= novel.introduction %></h2>
                <h5>最后更新时间:<%= novel.lastUpdateTime %></h2>
                <p>章节数:<%= novel.chapter_number %></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>