<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <div>
        <h2><% novel.title %></h1>
        <img src="<%= novel.image %>" alt="<%= novel.title %>">
        <h3>作者:<%= novel.author %></h2>
        <h4>简介:<%= novel.introduction %></h2>
        <h5>最后更新时间:<%= novel.lastUpdateTime %></h2>
        <a href="<%= novel.href %>" >小说原地址</a>
        <ul>
            <p>章节数:
                <%= novel.chapterNumber %>
            </p>
            <% novel.chapters.forEach(function(chapter){ %>
                <li style='border: 1px solid red;width:600px;'>
                    <p><%= chapter.serialName %></p>
                    <p><%= chapter.title %></p>
                    <p><%= chapter.serial %>&nbsp;</p>
                    <p><%= chapter.href %></p>
                    <p><%= chapter.chapter_id %></p>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>